<!-- 소모품 구매 / 제품군 구매리스트 -->
<div th:fragment="fragment">
    <!-- fragment title (숨김) -->
    <span class="fragment-title" style="display:none;">소모품 구매</span>
    
    
	<div class="modal-container">
	    <section class="supplies-result-area">
	        <div class="wrap">
   				<div class="supplies-result results-wrap">
   					<p class="results-number">
   						검색결과 총 <b class="number">3</b> 건
   					</p>
   				</div>
	            <!-- 신청내역 테이블 // 내용 있을때 -->
       			<div class="supplies-list-wrap">
       				<div class="supplies-track cols-table">
       					<div class="supplies-item">
       						<a href="#">
       							<div class="supplies-thum rounded-md">
       								<img src="/images/sample/filter.jpg">
       							</div>
       							<div class="supplies-info-wrap">
        							<div class="supplies-info">
        								<div class="supplies-name">정수기 필터(CP-M툴,U툴 전용 필터)</div>
        								<div class="supplies-code">CMS-G210NW</div>
        							</div>
        							<div class="supplies-price">
        								<div class="regular-price">
        									<p>99,000</p>
        									<span>원</span>
        								</div>
        								<div class="discount-per">
        									<p>0</p>
        									<span>%</span>
        								</div>
        								<div class="total-price">
        									<p>99,000</p>
        									<span>원</span>
        								</div>
        							</div>
       							</div>
       						</a>
       					</div>
       					<div class="supplies-item">
       						<a href="#">
       							<div class="supplies-thum rounded-md">
       								<img src="/images/sample/filter.jpg">
       							</div>
       							<div class="supplies-info-wrap">
        							<div class="supplies-info">
        								<div class="supplies-name">정수기 필터(CP-M툴,U툴 전용 필터)</div>
        								<div class="supplies-code">CMS-G210NW</div>
        							</div>
        							<div class="supplies-price">
        								<div class="regular-price">
        									<p>99,000</p>
        									<span>원</span>
        								</div>
        								<div class="discount-per">
        									<p>0</p>
        									<span>%</span>
        								</div>
        								<div class="total-price">
        									<p>99,000</p>
        									<span>원</span>
        								</div>
        							</div>
       							</div>
       						</a>
       					</div>
       					<div class="supplies-item">
       						<a href="#">
       							<div class="supplies-thum rounded-md">
       								<img src="/images/sample/filter.jpg">
       							</div>
       							<div class="supplies-info-wrap">
        							<div class="supplies-info">
        								<div class="supplies-name">정수기 필터(CP-M툴,U툴 전용 필터)</div>
        								<div class="supplies-code">CMS-G210NW</div>
        							</div>
        							<div class="supplies-price">
        								<div class="regular-price">
        									<p>99,000</p>
        									<span>원</span>
        								</div>
        								<div class="discount-per">
        									<p>0</p>
        									<span>%</span>
        								</div>
        								<div class="total-price">
        									<p>99,000</p>
        									<span>원</span>
        								</div>
        							</div>
       							</div>
       						</a>
       					</div>
       				</div>
       			</div>
	        </div>
	    </section>
	</div>
</div>