<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="mobileGnbLayout" class="mobile-gnb-wrap">
	    <div id="modal-gnb" class="mobile-menu">
	        <header class="mobile-header">
	            <div class="wrap">
	                <div class="mo-header-left">
	                    <a class="home-btn" href="/easyview/">
	                        <svg class="icon-sm">
	                            <use xlink:href="/images/easyview/icons/spriteImg.svg#home" />
	                        </svg>
	                    </a>
	                </div>
	                <div class="mo-header-right">
	                    <a class="close-btn">
	                        <svg class="icon-sm">
	                            <use xlink:href="/images/easyview/icons/spriteImg.svg#close" />
	                        </svg>
	                    </a>
	                </div>
	            </div>
	        </header>
	        <div class="modal-container">
	
	            <section class="mobile-user-area">
	                <div class="wrap">
	                    <div class="mobile-user-card bg-g rounded-sm">
	                        <div class="mo-ueser-info">
	                            <div class="user-name">
	                                <p class="name">CUCKOO</p>
	                                <span>님</span>
	                            </div>
	                            <div class="user-code">
	                                2024*4508350
	                            </div>
	                        </div>
	                        <div class="mo-mypage-arrow">
	                            <a class="btn bg-w rounded-sm" href="/easyview/mypage/">
	                                <svg class="icon-sm">
	                                    <use xlink:href="/images/easyview/icons/spriteImg.svg#right" />
	                                </svg>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	            </section>
	
	            <section class="mobile-lnb-area">
	                <div class="wrap">
	                    <div class="mo-lnb-rental">
	                        <div class="title-wrap">
	                            <h1 class="tit">렌탈 관리</h1>
	                        </div>
	                        <ul class="mo-lnb-list">
	                            <li class="mo-lnb-link"><a href="/easyview/management/01">관리카드</a></li>
	                            <li class="mo-lnb-link"><a href="/easyview/rental/">내 렌탈 정보</a></li>
	                            <li class="mo-lnb-link"><a href="/easyview/product/">제품 안내</a></li>
	                        </ul>
	                    </div>
	                    <div class="mo-lnb-product">
	                        <div class="title-wrap">
	                            <h1 class="tit">제품 관리</h1>
	                        </div>
	                        <ul class="mo-lnb-list">
	                            <li class="mo-lnb-link"><a href="/easyview/support/01">사용 매뉴얼</a></li>
	                            <li class="mo-lnb-link"><a href="/easyview/supplies/">소모품 구매</a></li>
	                            <li class="mo-lnb-link"><a href="/easyview/request/">AS 신청</a></li>
	                        </ul>
	                    </div>
	                </div>
	            </section>
	            <div class="line"></div>
	            <section class="mobile-cs-area">
	                <div class="wrap">
	                    <div class="title-wrap">
	                        <h1 class="tit">
	                            도움이 필요하신가요?
	                        </h1>
	                    </div>
	                    <div class="mobile-cs-wrap">
	                        <div class="info-table">
	                            <div class="info-rows">
	                                <div class="info-head">쿠쿠몰</div>
	                                <div class="info-ctn"><a href="tel:080-720-9999">080-720-9999</a></div>
	                            </div>
	                            <div class="info-rows">
	                                <div class="info-head">렌탈문의</div>
	                                <div class="info-ctn"><a href="tel:1577-0010">1577-0010</a></div>
	                            </div>
	                            <div class="info-rows">
	                                <div class="info-head">서비스 문의</div>
	                                <div class="info-ctn"><a href="tel:1588-8899">1588-8899</a></div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="mobile-cs-info">
	                        <span class="icon">
	                            <svg class="icon-sm">
	                                <use xlink:href="/images/easyview/icons/spriteImg.svg#clock" />
	                            </svg>
	                        </span>
	                        <p class="txt">
	                            운영시간 : 9시 - 18시 (주말, 공휴일 제외)
	                        </p>
	                    </div>
	                </div>
	            </section>
	
	        </div>
	    </div>
	</div>
</html>