<!-- 점검이력 / 바텀시트 -->
<div th:fragment="fragment">
	<div class="modeal-container">
		<section class="bt-histofy-area">
			<div class="wrap">
				<div class="bt-history-state">
					<span class="icon rounded-lg">
	                    <svg class="icon-sm">
	                        <use xlink:href="/mo/images/easyview/icons/spriteImg.svg#chk" />
	                    </svg>
					</span>
					<div class="state-txt">
						정기 필터 교체 진행
					</div>
				</div>
				<div class="bt-state-table bg-g rounded-sm">
	                <div class="info-table">
	                    <div class="info-rows">
	                        <div class="info-head">사용필터</div>
	                        <div class="info-ctn">쿠쿠 카본 필터 교체 (6개월)</div>
	                    </div>
	                    <div class="info-rows">
	                        <div class="info-head">사용부품</div>
	                        <div class="info-ctn">없음</div>
	                    </div>
	                    <div class="info-rows">
	                        <div class="info-head">추가비용</div>
	                        <div class="info-ctn">없음</div>
	                    </div>
	                </div>
				</div>
			</div>
		</section>
	</div>
</div>
