<!-- as신청 / 약관신청 -->
<div th:fragment="fragment">
	<div class="modeal-container">
		<section class="bt-terms-area">
			<div class="wrap">
				<div class="bt-terms-title">
					<div class="tit">
						약관내용에 동의해주세요.
					</div>
				</div>
				<form>
					<div class="bt-terms-btn-wrap">
						<input type="checkbox" id="all-terms-check" class="all-terms">
						<label for="all-terms-check" class="btn wide-btn all-terms-btn">
							<span class="icon">
								<svg class="icon-sm">
									<use xlink:href="/images/easyview/icons/spriteImg.svg#chk" />
								</svg>
							</span>
							<p class="txt">네, 모두 동의합니다.</p>
						</label>
					</div>
					<div class="bt-terms-input-wrap">
						<div class="bt-terms-input-item">
							<input type="checkbox" class="input-chk" id="terms01" name="terms">
							<label for="terms01">
								<span class="terms-chk rounded-sm btn">
									<svg class="icon-sm">
										<use xlink:href="/images/easyview/icons/spriteImg.svg#chk" />
									</svg>
								</span>
								<p class="txt">개인정보 수집 및 이용 동의 (필수)</p>
							</label>
							<a class="terms-more">
								<svg class="icon-sm">
									<use xlink:href="/images/easyview/icons/spriteImg.svg#right" />
								</svg>
							</a>
						</div>
						<div class="bt-terms-input-item">
							<input type="checkbox" class="input-chk" id="terms02" name="terms" checked>
							<label for="terms02">
								<span class="terms-chk rounded-sm btn">
									<svg class="icon-sm">
										<use xlink:href="/images/easyview/icons/spriteImg.svg#chk" />
									</svg>
								</span>
								<p class="txt">마케팅 활용을 위한 개인 정보 수집/이용동의 (선택)</p>
							</label>
							<a class="terms-more">
								<svg class="icon-sm">
									<use xlink:href="/images/easyview/icons/spriteImg.svg#right" />
								</svg>
							</a>
						</div>
						<div class="bt-terms-input-item">
							<input type="checkbox" class="input-chk" id="terms03" name="terms">
							<label for="terms03">
								<span class="terms-chk rounded-sm btn">
									<svg class="icon-sm">
										<use xlink:href="/images/easyview/icons/spriteImg.svg#chk" />
									</svg>
								</span>
								<p class="txt">마케팅정보수신동의 (선택)</p>
							</label>
							<a class="terms-more">
								<svg class="icon-sm">
									<use xlink:href="/images/easyview/icons/spriteImg.svg#right" />
								</svg>
							</a>
						</div>
						<div class="bt-terms-input-item">
							<input type="checkbox" class="input-chk" id="terms04" name="terms">
							<label for="terms04">
								<span class="terms-chk rounded-sm btn">
									<svg class="icon-sm">
										<use xlink:href="/images/easyview/icons/spriteImg.svg#chk" />
									</svg>
								</span>
								<p class="txt">
									개인정보 제3자 제공동의 (선택)
								</p>
							</label>
							<a class="terms-more">
								<svg class="icon-sm">
									<use xlink:href="/images/easyview/icons/spriteImg.svg#right" />
								</svg>
							</a>
						</div>
						<div class="bt-terms-input-item">
							<input type="checkbox" class="input-chk" id="terms05" name="terms">
							<label for="terms05">
								<span class="terms-chk rounded-sm btn">
									<svg class="icon-sm">
										<use xlink:href="/images/easyview/icons/spriteImg.svg#chk" />
									</svg>
								</span>
								<p class="txt">
									무료보험 가입동의 (선택)
								</p>
							</label>
							<a class="terms-more">
								<svg class="icon-sm">
									<use xlink:href="/images/easyview/icons/spriteImg.svg#right" />
								</svg>
							</a>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>