<!-- 고객지원 / 셀렉트 -->
<div th:fragment="fragment">
	<div class="modeal-container">
		<section class="bt-select-area">
			<div class="wrap">
				<div class="bt-select-title">
					<div class="tit">
						선택
					</div>
				</div>
				<div class="bt-select-table">
					<a class="bt-select-option rounded-sm wide-btn" data-value="전체">
						<p class="txt">전체</p>
						<svg class="icon-sm">
							<use xlink:href="/images/easyview/icons/spriteImg.svg#chk" />
						</svg>
					</a>
					<a class="bt-select-option rounded-sm wide-btn" data-value="관리방법">
						<p class="txt">관리방법</p>
						<svg class="icon-sm">
							<use xlink:href="/images/easyview/icons/spriteImg.svg#chk" />
						</svg>
					</a>
					<a class="bt-select-option rounded-sm wide-btn" data-value="고장자가진단">
						<p class="txt">고장자가진단</p>
						<svg class="icon-sm">
							<use xlink:href="/images/easyview/icons/spriteImg.svg#chk" />
						</svg>
					</a>
				</div>
			</div>
		</section>
	</div>
</div>