<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{easyview/layout/easyViewLayout}">
<body>
    <th:block layout:fragment="header" th:replace="~{easyview/fragments/headerLayout :: headerSubLayout(title='제품 안내')}"></th:block>

    <main class="main">
        <div layout:fragment="content" class="sub-container">
        
        	<section class="product-card-area">
				<div class="wrap">
	                <div class="product-card">
	                    <div class="product-card-thum">
	                    	<img src="/images/sample/sample_product.png">
	                    </div>
	                    <div class="product-card-content">
	                        <div class="product-card-badge">
	                            <a class="badge-primary">방문관리</a>
	                            <a class="badge-ragular">60개월</a>
	                        </div>
	                        <div class="product-card-name">
	                            <h1 class="name">
	                                트윈프레셔 미니 전기압력밥솥(3인용)
	                            </h1>
	                            <div class="code-name">
	                                CRP-TT0310FPP
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>
        	</section>
        	
        	<section class="product-info-area">
        		<div class="wrap">
        			<div class="product-info-table">
		                <div class="info-table">
		                    <div class="info-rows">
		                        <div class="info-head">주요기능</div>
		                        <div class="info-ctn">
		                        	<p>최적의 드립 레시피 구현</p>
		                        	<p>100도씨 끓인물</p>
		                        	<p>스팀살균 & 인앤아웃 자동살균</p>
		                        	<p>나노포지티브 필터링 시스템</p>
		                        </div>
		                    </div>
		                    <div class="info-rows">
		                        <div class="info-head">필터구성</div>
		                        <div class="info-ctn">
		                        	<p>메탈 블록 2.0 (4개월)</p>
		                        	<p>나노포지티브 플러스 3.0 (8개월)</p>
		                        </div>
		                    </div>
		                </div>
        			</div>
        			<div class="product-btn-wrap">
		                <a class="manual-btn btn bg-g rounded-lg">
		                    <span class="txt">사용 설명서</span>
		                </a>
		                <a class="service-btn btn bg-g rounded-lg">
		                    <span class="txt">서비스 영상</span>
		                </a>
        			</div>
        		</div>
        	</section>
        	<div class="line"></div>
        	<section class="product-supplies-area">
        		<div class="wrap">
        			<div class="title-wrap">
        				<h1 class="tit">
        					소모품 교체가 필요하신가요?
        				</h1>
        				<p class="txt">
        					쿠쿠몰을 통해 빠르게 구매해보세요.
        				</p>
        			</div>
        			<div class="product-supplies-wrap">
        				<div class="supplies-track rows-table">
        					<div class="supplies-item">
        						<a href="#">
        							<div class="supplies-thum rounded-md">
        								<img src="/images/sample/filter.jpg">
        							</div>
        							<div class="supplies-info-wrap">
	        							<div class="supplies-info">
	        								<div class="supplies-name">정수기 필터(CP-M툴,U툴 전용 필터)</div>
	        								<div class="supplies-code">CMS-G210NW</div>
	        							</div>
	        							<div class="supplies-price">
	        								<div class="regular-price">
	        									<p>99,000</p>
	        									<span>원</span>
	        								</div>
	        								<div class="discount-per">
	        									<p>0</p>
	        									<span>%</span>
	        								</div>
	        								<div class="total-price">
	        									<p>99,000</p>
	        									<span>원</span>
	        								</div>
	        							</div>
        							</div>
        						</a>
        					</div>
        					<div class="supplies-item">
        						<a href="#">
        							<div class="supplies-thum rounded-md">
        								<img src="/images/sample/filter.jpg">
        							</div>
        							<div class="supplies-info-wrap">
	        							<div class="supplies-info">
	        								<div class="supplies-name">정수기 필터(CP-M툴,U툴 전용 필터)</div>
	        								<div class="supplies-code">CMS-G210NW</div>
	        							</div>
	        							<div class="supplies-price">
	        								<div class="regular-price">
	        									<p>99,000</p>
	        									<span>원</span>
	        								</div>
	        								<div class="discount-per">
	        									<p>0</p>
	        									<span>%</span>
	        								</div>
	        								<div class="total-price">
	        									<p>99,000</p>
	        									<span>원</span>
	        								</div>
	        							</div>
        							</div>
        						</a>
        					</div>
        					<div class="supplies-item">
        						<a href="#">
        							<div class="supplies-thum rounded-md">
        								<img src="/images/sample/filter.jpg">
        							</div>
        							<div class="supplies-info-wrap">
	        							<div class="supplies-info">
	        								<div class="supplies-name">정수기 필터(CP-M툴,U툴 전용 필터)</div>
	        								<div class="supplies-code">CMS-G210NW</div>
	        							</div>
	        							<div class="supplies-price">
	        								<div class="regular-price">
	        									<p>99,000</p>
	        									<span>원</span>
	        								</div>
	        								<div class="discount-per">
	        									<p>0</p>
	        									<span>%</span>
	        								</div>
	        								<div class="total-price">
	        									<p>99,000</p>
	        									<span>원</span>
	        								</div>
	        							</div>
        							</div>
        						</a>
        					</div>
        				</div>
        			</div>
        		</div>
        	</section>
        </div>
    </main>
</body>
</html>